<h1>Formulario de actualizacion de autos</h1>
<form action="/editar/<%=auto.id%>" method="post">
    <label>Nombre</label>
    <input id="nombreId" name="nombre" type="text" value="<%=auto.nombre%>">
    <br>
    <br>
    <label>Tipo</label>
    <select id="tipoId" name="tipo" type="text" value="<%=auto.tipoId%>">
        <option value="Deportivo">Deportivo</option>
        <option value="Camioneta">Camioneta</option>
        <option value="Taxi">Taxi</option>
        <option value="Camion">Camion</option>
        <option value="Bus">Bus</option>
    </select>
    <br>
    <br>
    <label>Año</label>
    <input id="anioId" name="anio" type="number" value="<%=auto.anio%>">
    <br>
    <br>
    <label>Fecha</label>
    <input id="fechaId" name="fecha" type="date" value="<%=auto.fecha%>">
    <br>
    <br>
    <label>Precio</label>
    <input id="precioId" name="precio" type="number" min="0" step="1" value="<%=auto.precio%>">
    <br>
    <br>
    <button type="reset">Limpiar</button>
    <a href="/lista"><button type="button">Cancelar</button></a>
    <button>Guardar</button>

</form>